html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: "Releway", sans-serif;
  color: #000000;
  font-size: 62.5%;
  font-weight: 500;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.search {
  margin: 32px;
}
.search__title {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 14px;
}
.search__content {
  color: #636363;
  font-size: 1.5rem;
  font-weight: 500;
}
.search__q {
  margin: 32px 0px;
  display: flex;
}
.search__q-icon {
  font-size: 1.6rem;
  background-color: #f2f2f2;
  padding: 17px 15px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.search__q-content {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 700;
  line-height: 1.8rem;
  border: 1px solid #f2f2f2;
  padding-left: 15px;
}
.search__q-content:focus {
  outline: none;
}
.search__q-content::placeholder {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
}
.search__q-submit {
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #0065fc;
  border: none;
  border-radius: 12px;
  transform: translateX(-0.9rem);
  padding: 15px 15px;
  cursor: pointer;
  transition: 0.3s background-color;
}
.search__q-submit:hover {
  background-color: rgba(0, 101, 252, 0.8);
}
.search__q-submit span {
  display: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffffff;
}
.search__q-submit-icon {
  color: #ffffff;
}
.search__filter-title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.search__filter-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.search__filter-link {
  display: flex;
  align-items: center;
  width: max-content;
  color: #000000;
  border-radius: 50px;
  box-shadow: 0 0 0 2px#d9d9d9 inset;
  margin-top: 9px;
  margin-right: 9px;
  transition: 0.3s all;
}
.search__filter-link:hover {
  color: #0065fc;
  box-shadow: 0 0 0 2px #deebff inset;
}
.search__filter-link span {
  font-size: 1.4rem;
  font-weight: 700;
  color: inherit;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 11px;
  margin-right: 15px;
}
.search__filter-link div {
  width: 17px;
  height: 17px;
  background-color: #deebff;
  border-radius: 50%;
  padding: 14px;
}
.search__filter-link div i {
  font-size: 1.5rem;
  color: #0065fc;
}
.search__filter-link div i.fa-money-bill-wave-alt {
  transform: translateY(1px) translateX(-1px);
}
.search__filter-link div i.fa-child {
  transform: translateY(1px) translateX(3px);
}
.search__filter-link div i.fa-heart {
  transform: translateY(1px) translateX(1px);
}
.search__filter-info div i {
  float: left;
  color: #0065fc;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -3px;
  padding: 7px 8px;
}
.search__filter-info p {
  font-size: 1.4rem;
  color: #636363;
  letter-spacing: 0.3px;
  line-height: 1.7rem;
  margin-left: 30px;
}
.property {
  display: flex;
  flex-direction: column-reverse;
}
.property__mostproperties {
  background-color: #f2f2f2;
  padding: 32px;
}
.property__mostproperties-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.property__mostproperties-header h2 {
  font-size: 1.9rem;
  font-weight: 700;
}
.property__mostproperties-header i {
  font-size: 1.9rem;
  font-weight: 700;
}
.property__mostproperties-body-card {
  display: flex;
  align-items: center;
  max-width: 330px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transition: 0.3s opacity;
}
.property__mostproperties-body-card:hover {
  opacity: 0.75;
}
.property__mostproperties-body-card-img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.property__mostproperties-body-card-content {
  justify-content: space-between;
  padding: 0px 20px;
}
.property__mostproperties-body-card-content h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.7rem;
  margin-bottom: 12px;
}
.property__mostproperties-body-card-content p,
.property__mostproperties-body-card-content p span {
  color: #636363;
  font-size: 1.3rem;
  margin-bottom: 38px;
}
.property__mostproperties-body-card-content p span {
  color: #000000;
  font-weight: 700;
  margin-left: 2px;
}
.fas.fa-star {
  color: #d9d9d9;
  font-size: 1.1rem;
}
.fas.fa-star.active {
  color: #0065fc;
}
.property__properties {
  padding: 32px;
}
.property__properties-header h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.property__properties-body > * + * {
  margin: 12px;
}
.property__properties-body-card {
  max-width: 330px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transition: 0.3s opacity;
}
.property__properties-body-card:hover {
  opacity: 0.75;
}
.property__properties-body-card-img {
  width: 100%;
  height: 105px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.property__properties-body-card-content {
  padding: 10px;
}
.property__properties-body-card-content h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.7rem;
  margin-bottom: 12px;
}
.property__properties-body-card-content p,
.property__properties-body-card-content p span {
  color: #636363;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.property__properties-body-card-content p span {
  color: #000000;
  font-weight: 700;
  margin-left: 2px;
}
.property__properties-footer {
  width: max-content;
}
.property__properties-footer p {
  margin: 10px 0px;
  font-size: 1.6rem;
  font-weight: 700;
  opacity: 1;
  transition: 0.3s opacity;
}
.property__properties-footer p:hover {
  opacity: 0.75;
}
.activities {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom: 55px;
}
.activities h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.activities__container-card {
  max-width: 330px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transition: 0.3s opacity;
}
.activities__container-card:hover {
  opacity: 0.75;
}
.activities__container-card img {
  width: 100%;
  height: 105px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activities__container-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.7rem;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 8px;
}
.footer {
  background-color: #f2f2f2;
  padding: 45px 32px;
}
.footer ul li:last-child {
  margin-bottom: 40px;
}
.footer ul li h4 {
  font-size: 1.7rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 22px;
}
.footer ul > * + * {
  margin-bottom: 16px;
}
.footer ul li a {
  font-size: 1.6rem;
  font-weight: 500;
  opacity: 1;
  transition: 0.3s opacity;
}
.footer ul li a:hover {
  opacity: 0.75;
}
@media only screen and (max-width: 430px) {
  .search {
    margin: 32px 18px;
  }
  .property__mostproperties {
    padding: 32px 18px;
  }
  .property__properties {
    padding: 32px 18px;
  }
  .footer {
    padding: 45px 18px;
  }
}
@media only screen and (min-width: 750px) {
  .search__q-submit {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding: 15px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .search__q-submit-icon {
    margin-left: -10px;
    visibility: hidden;
  }
  .search__q-submit span {
    display: block;
  }
  .property__mostproperties-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .property__mostproperties-body a {
    margin: 10px;
  }
  .property__properties-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .property__properties-body a {
    margin: 10px;
  }

  .property__properties-body-card-img {
    width: 330px;
  }
  .activities__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .activities__container a {
    margin: 10px;
  }
  .activities__container-card img {
    width: 330px;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer ul {
    margin-left: 70px;
  }
  .footer ul:nth-child(1) {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer ul {
    margin-left: 180px;
  }
  .footer ul:nth-child(1) {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 1450px) {
  .property {
    flex-direction: row;
    justify-content: space-between;
  }
  .property__properties {
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 32px;
  }
  .property__mostproperties {
    max-width: 420px;
    height: max-content;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 32px;
  }
}
@media only screen and (min-width: 1500px) {
  .property__properties-body-card img {
    height: 140px;
  }
  .property__mostproperties-body-card img {
    height: 150px;
  }
  .activities__container {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .activities__container a:nth-child(1),
  .activities__container a:nth-child(4) {
    grid-row: span 2;
  }
  .activities__container a:nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 2;
  }
  .activities__container-card-img.big {
    height: 400px;
  }
  .activities__container-card-img.small {
    height: 150px;
  }
  .activities__container-card h3 {
    padding-left: 18px;
    padding-top: 18px;
    margin-bottom: 16px;
  }
  .search {
    margin-left: 55px;
    margin-right: 55px;
  }
  .property__mostproperties {
    margin-right: 55px;
  }
  .property__properties {
    margin-left: 55px;
  }
  .activities {
    margin-right: 55px;
    margin-left: 55px;
  }
  .footer {
    padding-left: 55px;
  }
}
@media only screen and (min-width: 1850px) {
  .activities__container-card {
    max-width: 370px;
  }
  .activities__container-card-img.big,
  .activities__container-card-img.small {
    width: 370px;
  }
  .footer ul {
    margin-left: 400px;
  }
  .footer ul:nth-child(1) {
    margin-left: 0px;
  }
}
